@font-face {
  font-family: Clock;
  src: url('../fonts/clock.woff2'), url('../fonts/clock.woff');
}

html {
  --color: #01caf7;
  --header-bg: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Clock, sans-serif;
  color: var(--color);
  min-height: 100vh;

  display: grid;
  place-content: center;

  background-size: cover;
  background-position: center;
}

body.morning {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/morning.jpg');
}

body.afternoon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/afternoon.jpg');
}

body.night {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/night.jpg');
}

header {
  text-align: center;
  padding: 2rem;
  border: 5px dotted var(--color);
  background-color: var(--header-bg);
}

header h1,
header h2 {
  font-weight: normal;
}

header h1 {
  font-size: 4rem;
}

header h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

@media (min-width: 700px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 50px;
  }
}
